<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>vue人防vue</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/js/jquery.color.js"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/js.js"></script>
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">人防</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">人防</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" role="main">
  <!-- <div class="row">
    <div class="col-lg-1 col-md-1">
      <div class="col-lg-6 col-md-6">1-1</div>
      <div class="col-lg-6 col-md-6">1-2</div>
    </div>
    <div class="col-lg-3 col-md-3">
      <div class="col-lg-3">2-1</div>
      <div class="col-lg-2">2-2</div>
      <div class="col-lg-2">2-3</div>
      <div class="col-lg-2">2-4</div>
      <div class="col-lg-2">2-5</div>
      <div class="col-lg-1">2-6</div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="col-lg-3 col-md-3">3-1</div>
      <div class="col-lg-3 col-md-3">3-2</div>
      <div class="col-lg-3 col-md-3">3-3</div>
      <div class="col-lg-3 col-md-3">3-4</div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="col-lg-11 col-md-11">
        <div class="col-lg-2 col-md-2">4-1</div>
        <div class="col-lg-2 col-md-2">4-2</div>
        <div class="col-lg-2 col-md-2">4-3</div>
        <div class="col-lg-2 col-md-2">4-4</div>
        <div class="col-lg-4 col-md-4">4-5</div>
      </div>
      <div class="col-lg-1 col-md-1">4-6</div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <table class="table table-striped table-hover table-condensed">
        <tr id="t-head">
          <th class="width-extreme-narrow"><input type="checkbox" class="mark" id="markall"></th>
          <th class="width-extreme-narrow"></th>
          <th class="width-wide"><span>门框编号</span></th>
          <th class="width-narrow "><span>a1</span></th>
          <th class="width-narrow "><span>a2</span></th>
          <th class="width-narrow "><span>b</span></th>
          <th class="width-narrow "><span>H</span></th>
          <th class="width-extreme-narrow"><span></span></th>
          <th class="width-narrow "><span>L</span></th>
          <th class="width-narrow "><span>c</span></th>
          <th class="width-narrow "><span>d</span></th>
          <th class="width-narrow "><span>d1</span></th>
          <th class="width-wide"><span>①号筋</span></th>
          <th class="width-wide"><span>②号筋</span></th>
          <th class="width-wide"><span>③号筋</span></th>
          <th class="width-wide"><span>④号筋</span></th>
          <th class="width-wide"><span>⑤号筋</span></th>
          <th class="width-extreme-narrow"><span></span></th>
        </tr>
    <!--     <tr id="row-1">
          <td><div class="checkbox"><label><input type="checkbox" class="mark" id="mark-1"></label></div></td>
          <td><button type="button" class="btn btn-default add" id="add-1"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
          <td><input class="form-control model-cell" id="model-cell-1" type="text" placeholder="HFM1320(5)-E1" value="HFM1320(5)-E1"></td>
          <td><input class="form-control a-cell" id="a1-1" type="text" placeholder="400" value="400"></td>
          <td><input class="form-control a-cell" id="a2-1" type="text" placeholder="400" value="400"></td>
          <td><input class="form-control b-cell" id="b-1" type="text" placeholder="400" value="400"></td>
          <td><input class="form-control H-cell" id="H-1" type="text" placeholder="3150" value="3150"></td>
          <td><button type="button" class="btn btn-success ok" id="ok-1"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></td>
          <td><input class="form-control L-cell" id="L-1" type="text" placeholder="-" readonly></td>
          <td><input class="form-control c-cell" id="c-1" type="text" placeholder="300" readonly></td>
          <td><input class="form-control d-cell" id="d-1" type="text" placeholder="550" readonly></td>
          <td><input class="form-control d1-cell" id="d1-1" type="text" placeholder="500" readonly></td>
          <td><input class="form-control bar-type1-cell" id="bar1-1" type="text" placeholder="-" readonly></td>
          <td><input class="form-control bar-type1-cell" id="bar2-1" type="text" placeholder="-" readonly></td>
          <td><input class="form-control bar-type1-cell" id="bar3-1" type="text" placeholder="E12@150" readonly></td>
          <td><input class="form-control bar-type2-cell" id="bar4-1" type="text" placeholder="3E16" readonly></td>
          <td><input class="form-control bar-type2-cell" id="bar5-1" type="text" placeholder="6E25" readonly></td>
          <td><button type="button" class="btn btn-danger remove" id="remove-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
        </tr> -->
      </table>
    </div>
  </div>
</div>
</body>
</html>